{% extends 'main/base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>Користувач: {{ user.full_name }}</h2>
    <p>Email: {{ user.email }}</p>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <h3>Редагування</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'email' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-2">Оновити</button>
    </form>

    <h3 class="mt-4">Видалення</h3>
    <form method="post" action="{% url 'delete-user' pk=user.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Видалити користувача</button>
    </form>

</div>
{% endblock %}
